body
{
    background-image:url("../pics/space.jpg");
    background-size:cover;
    background-position:center;
    width:99%;
    height:99%;
}
#header
{
    width:800px;
    height:200px;
    
    background-color:black;
    color:white;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:25px;
}
canvas
{
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
}
